body{
    margin: 0;
}

/* Giusto */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

/* Sbagliato. Così è come viene incollato. Sostituire element.style con l'elemento da modificare 

element.style {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

*/

.navlink a{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.navlink.flex-2 {
    flex: 2;
}

.navlink {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 8px;
}

article {
    width: 80%;
    border: 1px SOLID #000000;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-header img {
    width: 100px;
    border-radius: 50%;
}

.card-header p{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.card-footer p{
    text-align: end;
}

header img{
    width: 100%;
}

header{
    position: relative;
    background-color: red;
}
/* l'header sopra viene sovrascritto. Il colore finale è bianco perché viene dopo */
header div {
    position: absolute;
    background-color: rgb(255 255 255 / 50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 25px;
    text-transform: uppercase;
}
/* Per selezionare la classe si usa . e per l'id si usa # */
#chi-siamo img{
    width: 200px;
}

.clear {
    clear: both;
}









/* INIZIO tentativo fallito delle 3 card */

/* 
article .artprogetti{
    background-color: aqua;
}


.topcard{
    display: flex;
    justify-content: space-around;
}



#progetti{
    display:flex;
}

.topcard img{
    position: relative;
}

.topcard h2{
    position: absolute;
}

.topcard.fototesto{
    width: 20px;
    height: 20px;
}

#fotoprofilo{
    width: 40px;
    height: 40px;
}

#progetti h3{
    float: right;
}

#progetti article{
    margin: 10px;
}

 */

/* FINE tentativo fallito delle 3 card */

.card-wrapper-prj{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.card-header-prj{
    position: relative;
}

.card-header-prj img{
    width: 100%;

}

.card-header-prj h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-body-prj img{
    width: 30%;
    float: right;
}

.card-footer-prj img{
    border-radius: 50%;
}

.card-footer-prj h3{
    float: right;
}

.card-prj{
    padding: 10px;
}